/** Variables **/

:root {
    --primario: #ffc107;
    --secundario: #0097a7;
    --oscuro: #212121;
}

html {
    /** Codigo para que el padding no sea tomado en cuenta en las medidas globales **/
    box-sizing: border-box;
    /** Reset para REMS - 62.5% = 10px **/
    font-size: 62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Krub', sans-serif;
    font-size: 1.8rem;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}


/** Globales **/

h1,
h2,
h3 {
    margin: 0;
}


/** Utilidades **/

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.no-margin {
    margin: 0;
}


/** Botones **/

.boton {
    display: block;
    cursor: pointer;
    border: none;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 1rem 5rem;
    background-color: var(--secundario);
    transition: background-color .3s ease-in-out;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    background-color: #fad0c4;
    color: #000000;
}


/** Header **/

.site-header {
    background-color: #ffffff;
}

.site-header nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .site-header nav {
        padding: 1rem 0;
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-header nav a {
    color: var(--oscuro);
    text-decoration: none;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.site-header nav a:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .site-header nav a {
        margin-bottom: 0;
    }
}

.site-header nav a:hover {
    color: #9e0b54;
}


/** Hero **/

.hero {
    height: 45rem;
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero .contenedor {
    color: #ffffff;
    position: relative;
    z-index: 1;
    text-align: center;
}

.contenedor i {
    font-size: 5rem;
    color: var(--primario);
}